h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

h3 {
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    padding-top: 16px;
}

.headerlogo {
    font-size: 24px;
    font-weight: bolder;
    display: flex;
}

.section1 {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex; 
    justify-content: center;
    padding: 84px;
}

.subcontainer1-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex-shrink: 0;
    width: 400px;
    height: 200px;
}

.awesome {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.subcontainer1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid gray;
    background-color: gray;
    width: 400px;
    height: 175px;
}

.buttontop {
    border-color: #1f2937;
    margin-top: 12px;
}

.section2 {
    display: flex;
    justify-content: center;
    padding: 84px;
    gap: 24px;
}

.section2-1 {
    position: absolute;
    top: 415px;
}

.section2-2 {
    display: flex;
    flex-direction: column;
}

.section2-3 {
    display: flex;  
    flex-direction: column;
}

.section2-4 {
    display: flex;
    flex-direction: column;
}

.section2-5 {
    display: flex;
    flex-direction: column;
}

.square {
    border: 2px solid #3882f6;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    
}

.section3 {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 32px;
    display: flex;
}

.section3-1 {
    display: flex;
    justify-content: center;
}

.section3-2 {
    font-weight: 800;
    padding: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.section4 {
    display: flex;
    padding: 20px;
    color: #f9faf8;
    justify-content: center;
}

.signup-box {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 12px;
}

.buttonbottom {
    display: flex;
    justify-content: flex-end;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    padding: 32px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 84px;
    height: 36px;
    border-radius: 50px;
    border: 2px solid #f9faf8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}
